@model Mensajeria.Modelos.MensajeLectura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MensajeLectura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MensajeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MensajeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mensaje.Contenido_Mensaje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre_Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Lectura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Lectura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMensajeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoMensajeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoMensaje.Descripcion_Estado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
