@model IEnumerable<Mensajeria.Modelos.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Creacion_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Creacion_Usuario)
            </td>
            <td>
                @(item.Estado_Usuario ? "Activo" : "Inactivo")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre_Rol)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
