@model Mensajeria.Modelos.ParticipanteConversacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParticipanteConversacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConversacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConversacionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conversacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conversacion.Titulo_Conversacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Ingreso_Participante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Ingreso_Participante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConversacionId" />
        <input type="hidden" asp-for="UsuarioId" />

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
