@model Mensajeria.Modelos.ParticipanteConversacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParticipanteConversacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConversacionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConversacionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conversacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conversacion.Titulo_Conversacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Ingreso_Participante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Ingreso_Participante)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
